@font-face {
  src: url('../fonts/Novecento WideMedium.otf');
  font-weight: medium;
  font-family: 'Novecento';
}
@font-face {
  src: url('../fonts/Novecento WideLight.otf');
  font-family: 'Novecento';
  font-weight: lighter;
}

html {
  font-size: 62.5%;
}

/* устанавливаем  сбрасываем стили для всех тегов  */
div {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:active,
button:focus {
  outline: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.slick-prev:before,
.slick-next:before {
  color: #a70f7b;
  /* font-size: 30px; */
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #282829;
  font-family: 'Novecento', sans-serif;
  font-size: 1.6rem;
  color: white;
}

/* ===============верстка секция header========================*/
.header {
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 2000px;
  min-height: 2900px;
  background-image: url('../img/bg_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------------верхнее меню хедер------------- */
.header_logo-text {
  vertical-align: middle;
  font-size: 2.7rem;
  margin-left: 5px;
  cursor: pointer;
}

.header-top-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  height: 100px;
  padding: 0 10px;
}

.header-nav {
  margin: 0 auto;
}

.header_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.header_li {
  position: relative;
  margin: 0 10px;
}

.header_li a {
  cursor: pointer;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.555);
}

.header_li::after {
  position: absolute;
  display: block;
  width: 100%;
  content: '';
  border-bottom: 2px solid#ffff;
  top: 100%;
  left: 0px;
  transition: 0.5s;
  transform: scale(0);
}

.header_li:hover::after {
  width: 100%;
  transform: scale(1);
}

.header_li:hover a {
  color: #ffff;
}

.header-cotial_nav {
  cursor: pointer;
  margin: 0 10px;
}

.header-cotial_nav i {
  transition: 0.5s;
}

.header-cotial_nav i:hover {
  color: rgba(255, 255, 255, 0.26);
}

/*---------------- заголовок хедера---------------- */
.section-header-title {
  height: 840px;
}

.header-title {
  text-align: center;
}

.header-title_h1 {
  margin-top: 170px;
  font-size: 7.2rem;
  /* word-wrap: none;
  white-space: nowrap; */
}

.header-title_p {
  margin: 50px 0px;
  font-size: 1.8rem;
}

.header-title_button {
  min-width: 160px;
  border-radius: 30px;
  background-color: transparent;
  color: #ffff;
  border: 1px solid rgb(238, 229, 229);
  padding: 10px 0px;
  cursor: pointer;
  transition: 0.5s;
}

.header-title_button:hover {
  color: rgba(255, 255, 255, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.header-title_link {
  position: relative;
  margin-left: 10px;
  color: #ffff;
  transition: 0.5s;
}

.header-title_link::after {
  position: absolute;
  display: block;
  width: 0%;
  content: '';
  border-bottom: 2px solid#ffff;
  top: 100%;
  left: 0px;
  transition: 0.5s;
}

.header-title_link:hover::after {
  width: 100%;
  transform: translate(1%);
}

.header-title_arrow {
  margin: 15px 0px;
  cursor: pointer;
}

/* ------------блок с заголовком tools */
.section-tools {
  height: 400px;
}
.tools-title {
  text-align: center;
}
.tools-h2 {
  margin-top: 130px;
  font-size: 4.8rem;
}

.tools-p {
  margin: 50px 0px;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.39);
}
/* -----------------блоки с градиентом внутри иконки */
.tools-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 33.33%;
  height: 250px;
  text-align: center;
}

.tools-box_img {
  max-width: 70px;
  margin-top: 40px;
}

.tools-box:nth-child(1) {
  background: linear-gradient(40deg, #0081b2, #1bbcbd);
}

.tools-box:nth-child(2) {
  background: linear-gradient(40deg, #a01080, #df0360);
}

.tools-box:nth-child(3) {
  background: linear-gradient(40deg, #570084, #7f058d);
}

.tool-box_p {
  flex-basis: 100%;
  font-size: 3.6rem;
}

/* ---------------блоки с нижним бордером градиентом */
.tool-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  width: 33.33%;
  height: 200px;
  text-align: center;
}

.tool-description:nth-child(1) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #0081b2, #1bbcbd) 47% 0%;
}

.tool-description:nth-child(2) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #a01080, #df0360) 47% 0%;
}

.tool-description:nth-child(3) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #570084, #7f058d) 47% 0%;
}

.tool-description_p {
  padding: 30px;
  text-transform: lowercase;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.39);
}

.tool-description_p::first-letter {
  text-transform: uppercase;
}

.header_sliders {
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header_slider-div {
  text-align: center;
}

.slider-img {
  width: 150px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

/* ===========================блок main =================*/

.main {
  max-width: 2000px;
  min-height: 2500px;
  margin: 0 auto;
  background-color: rgb(247, 244, 248);
}

.main-line-top {
  height: 5px;
  background: linear-gradient(-90deg, #df0362, #641c9e);
}

.section-main-title {
  margin-top: -270px;
  box-shadow: 0px 5px 25px 15px rgba(25, 6, 41, 0.1);
  background-color: rgb(255, 255, 255);
}

.main-title {
  text-align: center;
}

.main-title_h2 {
  margin-top: 170px;
  font-size: 7.2rem;
  color: #a01082;
  word-wrap: break-word;
}

.main-title_p {
  margin: 50px 0px;
  font-size: 2.2rem;
  color: #7a747e;
}

.main-title_button {
  width: 200px;
  border-radius: 30px;
  border: none;
  color: #ffff;
  margin-bottom: 60px;
  padding: 10px 0px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(40deg, #a01080, #df0360);
}
/* ------слайдер главного блока macbook */
.main_sliders {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-slider-img {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

/* ---------блок с предлжениями под сладером 4 блока */
.line-grey {
  width: 100%;
  height: 2px;
  background: gray;
}

.block-offers {
  padding: 5px;
}
.offers-ico {
  margin-top: 40px;
  width: 50px;
}

.block-offers_h3 {
  margin-top: 40px;
  color: #190629;
}

.block-offers_p {
  line-height: 3rem;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #282828;
  font-size: 1.3rem;
}

.offers-link_color {
  color: #a01082;
}

/* ----------- блок developers середина блока main */
.developers-logo {
  margin-top: 100px;
  text-align: center;
}

.developers-title {
  text-align: center;
}

.developers-title_h2 {
  margin-top: 90px;
  font-size: 7.2rem;
  color: #a01082;
  word-wrap: break-word;
}

.developers-title_p {
  margin: 80px 0px;
  font-weight: lighter;
  font-size: 2.2rem;
  color: #7a747e;
}

.developers-title_button {
  width: 200px;
  margin-bottom: 60px;
  padding: 10px 0px;
  border-radius: 30px;
  border: 1px solid #a01080;
  background-color: transparent;
  color: #a01080;
  cursor: pointer;
  transition: 0.5s;
}

.block-eclips {
  max-width: 2000px;
  background-color: rgb(255, 255, 255);
}

.box-eclips {
  margin: 30px;
  padding: 10px;
}

.img-eclips {
  margin-top: 50px;
  /* display: block; */
}

.line-eclips {
  margin: 30px auto;
  width: 100px;
  height: 2px;
  background: #efecf2;
  /* position: relative; */
}

/* --------------------pink block community driven  модификатор и стили в верстке повтряются */
.community {
  max-width: 2000px;
  background: linear-gradient(40deg, #a01080, #df0360);
}

.community-text--color {
  margin-top: 100px;
  color: rgb(255, 255, 255);
}

.community-icon-link {
  display: block;
  margin: 20px 50px;
}

.community-block {
  margin-bottom: 100px;
}
/* =============================footer секция */
.footer {
  max-width: 2000px;
  margin: 0 auto;
  background-color: rgb(25, 6, 41);
}

/* 1 секция футера */
.box-features {
  margin: 10px;
}

.img-features {
  width: 100%;
}

.features-h3 {
  margin-top: 50px;
  position: relative;
  font-size: 2.2rem;
}

.features-h3::after {
  position: absolute;
  display: block;
  margin: auto;
  width: 20%;
  height: 2px;
  content: '';
  background: #8f88a8;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 60px;
  transition: 0.5s;
}

.features-p {
  font-size: 1.6rem;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.39);
}

/* 3 дива полоски градиента между секциями */
.features-gradient-box {
  margin-top: 100px;
}

.features-gradient {
  display: flex;
  width: 33.3%;
  margin: 5px;
}

.features-gradient:nth-child(1) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #0081b2, #1bbcbd) 47% 0%;
}

.features-gradient:nth-child(2) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #a01080, #df0360) 47% 0%;
}

.features-gradient:nth-child(3) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #570084, #7f058d) 47% 0%;
}

/* -----------2 секция футера блок с клиентами отзывы стили в верстке повтряются модификаторы */
.block-commets--h3 {
  margin-top: 20px;
  color: #ffff;
  font-size: 1.6rem;
}

.commemts--link {
  margin-top: 10px;
  margin-bottom: 20px;
}

.block-commets--p {
  color: rgba(255, 255, 255, 0.39);
}

.comments-line--blue {
  width: 50px;
  background: linear-gradient(40deg, #0081b2, #1bbcbd);
}

.comments-line--pink {
  width: 50px;
  background: linear-gradient(40deg, #a01080, #df0360);
}

.comments-line--purple {
  width: 50px;
  background: linear-gradient(40deg, #570084, #7f058d);
}

.footer-line--gradient {
  margin: 60px auto;
}

.footer--button {
  width: 130px;
}

.box-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.footer-p {
  line-height: 3rem;
  text-transform: lowercase;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.39);
}

.footer-span {
  color: #ffff;
}

@media screen and (max-width: 820px) {
  .header_logo {
    padding-top: 20px;
    margin: 0 auto;
  }

  .header-cotial {
    margin: 20px auto;
  }

  .header-nav {
    flex-basis: 100%;
    margin: 50px auto;
  }
  .section-header-title {
    margin-top: 150px;
    height: 400px;
  }

  .header-title {
    height: 300px;
  }
  .header-title_h1 {
    margin-top: 100px;
    font-size: 3.2rem;
  }

  .header-title_p {
    margin: 20px 0px;
    font-size: 1.3rem;
  }
  [class*='h2'] {
    margin-top: 20px;
    font-size: 3rem;
  }

  .developers-title_p {
    margin: 40px 0px;
    font-size: 1.6rem;
  }

  .tools-p {
    font-size: 1.3rem;
  }

  .tool-box_p {
    font-size: 2rem;
  }

  .tool-description_p {
    padding: 5px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .header {
    min-height: 2300px;
  }

  

  /* .header_li {
    margin: 10px;
  } */

  

  .tools-box_img {
    max-width: 40px;
  }

  .main-title_h2 {
    margin-top: 20px;
  }

  .main-title_p {
    margin: 20px 0px;
    font-size: 1.6rem;
  }

  .box-eclips {
    margin: 10px;
    padding: 10px;
  }

  .block-offers_h3 {
    margin-top: 10px;
  }

  .block-offers_p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .community-icon-link {
    max-width: 50px;
    height: 50px;
    display: block;
    margin: 0 20px;
  }
}

.butnUp-js {
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 50vh;
  right: 0vw;
  text-transform: uppercase;
  border-radius: 5px;
}
