@font-face {
  src: url('../fonts/Novecento WideLight.otf');

  font-family: 'Novecento';
  font-weight: lighter;
}
@font-face {
  src: url('../fonts/Novecento WideMedium.otf');
  font-weight: medium;
  font-family: 'Novecento';
}
@font-face {
  src: url('../fonts/Novecento WideNormal.otf');
  font-family: 'Novecento';
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

/* устанавливаем  сбрасываем стили для всех тегов  */
div {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:active,
button:focus {
  outline: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #282829;
  font-family: 'Novecento', sans-serif;
  font-weight: normal;
  text-transform: lowercase;
  font-size: 1.6rem;
  color: white;
}

.container {
  border: 2px solid rgb(248, 5, 155);
}

[class^='col'] {
  outline: 1px solid red;
}

/* ===============верстка секция header========================*/
.header {
  /* display: flex; */
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 2000px;
  height: 2900px;
  border: 1px solid red;
  background-image: url('../img/bg_header.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* --------------верхнее меню хедер------------- */
.header_logo-text {
  vertical-align: middle;
  font-size: 2.7rem;
  margin-left: 5px;
}

.header-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  height: 100px;
}

.header_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.header_li {
  position: relative;
  margin: 0 10px;
}

.header_li a {
  cursor: pointer;

  transition: 0.5s;
  color: rgba(255, 255, 255, 0.555);
}

.header_li::after {
  position: absolute;
  display: block;
  width: 0%;
  content: '';
  border-bottom: 2px solid#ffff;
  top: 100%;
  left: 0px;
  transition: 0.5s;
}

.header_li:hover::after {
  width: 100%;
  transform: scale(1);
}

.header_li:hover a {
  color: #ffff;
}

.header-cotial_nav {
  margin: 0 10px;
  cursor: pointer;
}

.header-cotial_nav i {
  transition: 0.5s;
}

.header-cotial_nav i:hover {
  color: rgba(255, 255, 255, 0.26);
}

/*---------------- заголовок хедера---------------- */
.section-header-title {
  height: 900px;
}

.header-title {
  text-align: center;
}

.header-title_h1 {
  margin-top: 170px;
  font-size: 7.2rem;
  word-wrap: none;
  white-space: nowrap;
}

.header-title_p {
  margin: 50px 0px;
  font-size: 1.8rem;
}

.header-title_button {
  min-width: 160px;
  border-radius: 20px;
  background-color: transparent;
  color: #ffff;
  border: 1px solid rgb(238, 229, 229);
  padding: 10px 0px;
  cursor: pointer;
  transition: 0.5s;
  outline: 1px solid transparent;
}

.header-title_button:hover {
  color: rgba(255, 255, 255, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.header-title_link {
  position: relative;
  margin-left: 10px;
  color: #ffff;
  transition: 0.5s;
}

.header-title_link::after {
  position: absolute;
  display: block;
  width: 0%;
  content: '';
  border-bottom: 2px solid#ffff;
  top: 100%;
  left: 0px;
  transition: 0.5s;
}

.header-title_link:hover::after {
  width: 100%;
  transform: translate(1%);
}

.header-title_arrow {
  margin: 15px 0px;
  cursor: pointer;
}

/* ------------блок с заголовком tools */
.section-tools {
  height: 400px;
}
.tools-title {
  text-align: center;
}
.tools-h2 {
  margin-top: 130px;
  font-size: 4.8rem;
}

.tools-p {
  margin: 50px 0px;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.39);
}
/* -----------------блоки с градиентом внутри иконки */
.tools-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 33.33%;
  height: 250px;
  text-align: center;
}

.tools-box_img {
  margin-top: 40px;
}

.tools-box:nth-child(1) {
  background: linear-gradient(40deg, #0081b2, #1bbcbd);
}

.tools-box:nth-child(2) {
  background: linear-gradient(40deg, #a01080, #df0360);
}

.tools-box:nth-child(3) {
  background: linear-gradient(40deg, #570084, #7f058d);
}

.tool-box_p {
  flex-basis: 100%;
  font-size: 3.6rem;
}
/* ---------------блоки с нижним бордером градиентом */
.tool-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  width: 33.33%;
  height: 200px;
  text-align: center;
}
.tool-description:nth-child(1) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #0081b2, #1bbcbd) 47% 0%;
}
.tool-description:nth-child(2) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #a01080, #df0360) 47% 0%;
}

.tool-description:nth-child(3) {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(40deg, #570084, #7f058d) 47% 0%;
}

.tool-description_p {
  padding: 30px;
  text-transform: lowercase;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.39);
}

.tool-description_p::first-letter {
  text-transform: uppercase;
}
.header_sliders {
  /* width: 1140px; */
  height: 200px;
  margin: 0 auto;
  border: 1px solid rgb(0, 255, 170);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.header_slider-div {
  text-align: center;
  border: 1px solid red;
}

.slider-img {
  padding: 10px;
  display: block;
  margin: 0 auto;
}

/* ===========================блок main */

.main {
  max-width: 2000px;
  height: 2500px;
  margin: 0 auto;
  background-color: #99949b;
}
.section-main-title {
  height: 1500px;
  background-color: #ede5f0;
}
.main-title {
  text-align: center;
}

.main-title_h1 {
  margin-top: 170px;
  font-size: 7.2rem;
  color: #a01082;
}

.main-title_p {
  margin: 50px 0px;
  font-size: 2.2rem;
  color: #7a747e;
}

.main-title_button {
  width: 200px;
  border-radius: 20px;
  color: #ffff;

  padding: 10px 0px;
  cursor: pointer;
  transition: 0.5s;
  outline: 1px solid transparent;
  background: linear-gradient(40deg, #a01080, #df0360);
}

.main_sliders {
  margin: 0 auto;
  border: 4px solid rgb(0, 255, 170);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_slider-div {
  text-align: center;
  border: 4px solid red;
}

.slider-img {
  /* border: 4px solid red;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: block;
  margin: 0 auto; */
}
